openapi: 3.1.0
info:
  title: bunq Partner API
  description: |
    bunq Partner API provides authentication and account provisioning endpoints for partners.

    ## Authentication Flow
    1. **Installation** - Exchange public key and receive installation token
    2. **Device Server** - Register device with API key  
    3. **Session Server** - Create session and receive session token
    4. **API Calls** - Use session token for authenticated requests

    ## Required Headers
    - `X-Bunq-Client-Authentication`: Installation token (for device/session creation) or Session token (for API calls)
    - `X-Bunq-Client-Signature`: HMAC-SHA256 signature of request
    - `X-Bunq-Server-Signature`: Server signature in responses (verify with server public key)
  version: 1.0.0
  contact:
    name: bunq API Support
    url: https://bunq.com
servers:
- url: https://partner-api.sandbox.bunq.com
  description: Sandbox Partner API Server
- url: https://api.partner.bunq.com
  description: Production Partner API Server

tags:
- name: Authentication
  description: Installation, device registration, and session management
- name: OAuth Management
  description: OAuth client creation and management
- name: Partner Services
  description: Partner-specific account provisioning services
- name: User Management
  description: User onboarding and management
- name: Card Management
  description: Credit and debit card creation and management
- name: Account Management
  description: Bank and external account management
- name: Payment Management
  description: Send and manage payments between accounts
- name: Notification Management
  description: Webhook notification filter URL management
- name: User Information Inquiry
  description: Read-only access to compliance and onboarding information requests for provisioned users
components:
  securitySchemes:
    InstallationAuth:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Installation token received from POST /installation
    SessionAuth:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Session token received from POST /session-server
    ClientSignature:
      type: apiKey
      in: header
      name: X-Bunq-Client-Signature
      description: HMAC-SHA256 signature of request body using private key

  schemas:
    Id:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the created resource
          example: 42

    InstallationToken:
      type: object
      properties:
        token:
          type: string
          description: Installation token for authenticating device and session creation

    InstallationServerPublicKey:
      type: object
      properties:
        server_public_key:
          type: string
          description: Server's public key for verifying response signatures

    SessionToken:
      type: object
      properties:
        token:
          type: string
          description: Session token for authenticating API requests
          example: "429d9e7ddf326d8b96d31385b5eebb565d194ecc234b162310cd6eb4964bfc93"
    UserLabel:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        display_name:
          type: string
          example: "John Doe"
        avatar:
          type: object

    Pointer:
      type: object
      required:
      - type
      - value
      properties:
        type:
          type: string
          enum: [EMAIL, PHONE_NUMBER]
          example: EMAIL
          description: |
            Contact method type:
            - `EMAIL`: Email address
            - `PHONE_NUMBER`: Mobile phone number
        value:
          type: string
          example: "user@example.com"
    OauthCallbackUrl:
      type: object
      properties:
        url:
          type: string
          format: uri
          example: "https://example.com/callback"
    OauthRequest:
      type: object
      required:
      - id
      - status
      properties:
        id:
          type: integer
          example: 123
        status:
          type: string
          example: "PENDING"
    UserCredential:
      type: object
      properties:
        username:
          type: string
          example: "api-user-123"
        password:
          type: string
          example: "generated-password"

          format: password
    Pagination:
      type: object
      properties:
        future_url:
          type:
          - string
          - 'null'
          description: URL to poll for results newer than the current real-time window (useful for long-polling; null if
            not applicable).
        newer_url:
          type:
          - string
          - 'null'
          description: URL to fetch the next newer page relative to the current result set (null if at newest page).
        older_url:
          type:
          - string
          - 'null'
          description: URL to fetch an older page (null if none).

    Error:
      type: object
      properties:
        error_description:
          type: array
          items:
            type: object
            properties:
              error_description:
                type: string
                example: "Invalid request"
        error_description_translated:
          type: string
          example: "The request is invalid"

    UserInformationInquiryEntry:
      type: object
      required:
      - id
      - created
      - updated
      - type
      - status
      - all_data_submitted
      - entry_description
      properties:
        id:
          type: integer
          example: 2001
        created:
          type: string
          format: date-time
          example: "2026-06-01 10:00:00.000000"
        updated:
          type: string
          format: date-time
          example: "2026-06-03 12:30:00.000000"
        type:
          type: string
          description: |
            The specific kind of information being requested. Selected examples:
            - `USER_PERSON_INVOLVEMENT_IN_POLITICS`: Whether the user is politically exposed
            - `USER_PERSON_SOURCE_OF_INCOME`: User's source of income
            - `USER_PERSON_SOURCE_OF_FUND`: User's source of funds
            - `USER_PERSON_COUNTRY_OF_BIRTH`: User's country of birth
            - `USER_PERSON_ACCOUNT_PURPOSE`: Intended purpose of the bank account
            - `IDENTIFICATION_DOCUMENT_VERIFY`: Identity document verification
            - `USER_COMPANY_RECORD_OF_SHAREHOLDERS`: Shareholder register for a company
            - `USER_COMPANY_SOURCE_OF_FUND`: Company's source of funds
          example: "USER_PERSON_INVOLVEMENT_IN_POLITICS"
        status:
          type: string
          enum:
          - PENDING
          - SUBMITTED
          - WAITING_FOR_REVIEW
          - AUTO_APPROVED
          - AUTO_REJECTED
          - APPROVED
          - REJECTED
          - CANCELLED
          description: |
            Current status of this entry:
            - `PENDING`: Not yet addressed by the user
            - `SUBMITTED`: User has submitted a response via the conversation
            - `WAITING_FOR_REVIEW`: Submission received and queued for review
            - `AUTO_APPROVED`: Automatically approved by evaluation
            - `AUTO_REJECTED`: Automatically rejected by evaluation
            - `APPROVED`: Manually approved
            - `REJECTED`: Manually rejected
            - `CANCELLED`: No longer requires action
          example: "PENDING"
        all_data_submitted:
          type: array
          description: Data submitted by the user for this entry. Present once submission has occurred.
          items:
            type: object
        assistant_conversation:
          type:
          - object
          - 'null'
          description: The AI conversation for this specific entry.
        context:
          type: object
          description: Additional context provided when the inquiry was created (e.g. a specific transaction). Empty if 
            not applicable.
        reject_reason:
          type:
          - string
          - 'null'
          description: Reason for rejection, if the entry was rejected.
          example:
        entry_description:
          type: string
          description: Human-readable label for the entry type.
          example: "USER_PERSON_INVOLVEMENT_IN_POLITICS"

    UserInformationInquiry:
      type: object
      required:
      - id
      - created
      - updated
      - user_id
      - status
      - all_entry
      properties:
        id:
          type: integer
          example: 1001
        created:
          type: string
          format: date-time
          example: "2026-06-01 10:00:00.000000"
        updated:
          type: string
          format: date-time
          example: "2026-06-03 12:30:00.000000"
        user_id:
          type: integer
          description: The ID of the user the inquiry is addressed to.
          example: 12345
        title:
          type: string
          description: Translated display title for the inquiry.
          example: "We need some information from you"
        subtitle:
          type: string
          description: Translated display subtitle.
          example: "Please provide the requested details"
        purpose:
          type: string
          description: |
            Why this inquiry was created. Common values:
            - `ONBOARDING`: Initial user onboarding verification
            - `COMPLIANCE_TRANSACTION_MONITORING`: Triggered by transaction monitoring
            - `COMPLIANCE_SCREENING`: Compliance screening review
            - `DOCUMENT_EXPIRY_RENEWAL`: An existing document has expired and needs renewal
            - `EMPLOYMENT_STATUS_VERIFY`: Employment status verification
          example: "ONBOARDING"
        status:
          type: string
          enum:
          - EXPECTING_REPLY_FROM_USER
          - EXPECTING_REPLY_FROM_BUNQ
          - FINALIZED
          description: |
            Current status of the overall inquiry:
            - `EXPECTING_REPLY_FROM_USER`: Open and awaiting user action
            - `EXPECTING_REPLY_FROM_BUNQ`: User has responded; bunq is processing
            - `FINALIZED`: Fully resolved
          example: "EXPECTING_REPLY_FROM_USER"
        all_entry:
          type: array
          description: List of individual information requests.
          items:
            $ref: '#/components/schemas/UserInformationInquiryEntry'
        assistant_conversation:
          type:
          - object
          - 'null'
          description: The associated AI conversation (backward-compatible field).
        finn_conversation:
          type:
          - object
          - 'null'
          description: The Finn AI conversation linked to this inquiry.
        time_expiry:
          type:
          - string
          - 'null'
          format: date-time
          description: Deadline by which the inquiry must be completed. Null if no deadline.
          example: "2026-07-01 00:00:00.000000"
        external_model_name:
          type: string
          description: The type of the model this inquiry is about (e.g. USER_PERSON).
          example: "USER_PERSON"
        external_model_id:
          type: integer
          description: The ID of the model this inquiry is about (typically the user ID).
          example: 12345

    DeviceServer:
      type: object
      properties:
        id:
          type: integer
          example: 42
        created:
          type: string
          format: date-time
          example: "2015-06-13 23:19:16.215235"
        updated:
          type: string
          format: date-time
          example: "2015-06-30 09:12:31.981573"
        description:
          type: string
          example: "Partner Server v1.0"
        ip:
          type: string
          example: "255.255.255.255"
        status:
          type: string
          enum: [ACTIVE, BLOCKED, NEEDS_CONFIRMATION, OBSOLETE]
          example: "ACTIVE"

    OauthClient:
      type: object
      properties:
        id:
          type: integer
          example: 123
        status:
          type: string
          enum: [ACTIVE, CANCELLED, CANCELLED_PENDING]
          example: "ACTIVE"
          description: |
            OAuth client status:
            - `ACTIVE`: Client is active and operational
            - `CANCELLED`: Client has been cancelled
            - `CANCELLED_PENDING`: Client cancellation is pending
        display_name:
          type: string
          example: "My OAuth App"
        client_id:
          type: string
          example: "oauth-client-123"
        secret:
          type: string
          example: "oauth-secret-456"
        callback_url:
          type: array
          items:
            $ref: '#/components/schemas/OauthCallbackUrl'
    PartnerUserProvision:
      type: object
      properties:
        id:
          type: integer
          example: 123
        created:
          type: string
          format: date-time
          example: '2026-01-01 10:00:00.000000'
        updated:
          type: string
          format: date-time
          example: '2026-01-01 10:00:00.000000'
        external_uuid:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        status:
          type: string
          enum: [CREATED, ACTIVE, CANCELLED, FAILED, CLOSED]
          example: "CREATED"
        sub_status:
          type: string
          enum: [NONE, PENDING_PROCESS_USER, PENDING_PROCESS_RELATION_USER, PENDING_PROCESS_OAUTH_REQUEST, 
              PENDING_PROCESS_USER_ONBOARDING, PENDING_PROCESS_CLOSURE]
          example: "PENDING_PROCESS_USER"
        action_required:
          type: string
          enum: [NONE, USER, SYSTEM]
          example: "SYSTEM"
        products:
          type: array
          items:
            type: string
          example: ["USER_VERIFIED"]
        label_user:
          $ref: '#/components/schemas/UserLabel'
        oauth_request:
          $ref: '#/components/schemas/OauthRequest'
        credential:
          $ref: '#/components/schemas/UserCredential'
    UserOnboarding:
      type: object
      properties:
        type:
          type: string
          example: "PERSON"
        user_status_desired:
          type: string
          example: "ACTIVE"
        user_verification_status_desired:
          type: string
          example: "VERIFIED"
        action_required:
          type: string
          enum: [NONE, USER, SYSTEM]
          example: "SYSTEM"
        status:
          type: string
          example: "ELECTRONIC_MONEY"
        waiting_type:
          type: string
          enum: [AUTOMATED, MANUAL]
          example: "AUTOMATED"
          description: |
            Type of waiting process:
            - `AUTOMATED`: Automated processing
            - `MANUAL`: Manual processing required
        waiting_time_message:
          type:
          - string
          - 'null'
          description: Machine-readable waiting time message key, or null if not applicable.
        waiting_time_message_translated:
          type:
          - string
          - 'null'
          description: Translated waiting time message for display, or null if not applicable.
    Card:
      type: object
      properties:
        id:
          type: integer
          example: 42
        created:
          type: string
          format: date-time
          example: "2015-06-13 23:19:16.215235"
        updated:
          type: string
          format: date-time
          example: "2016-06-30 09:12:31.981573"
        public_uuid:
          type: string
          example: "602e6eff-2505-44de-ab04-712e74bbf2af"
        type:
          type: string
          enum: [MASTERCARD]
          example: "MASTERCARD"
        sub_type:
          type: string
          example: "NONE"
        product_type:
          type: string
          example: "MASTERCARD_CREDIT_CO_BRANDED"
        product_sub_type:
          type: string
          example: "NONE"
        first_line:
          type: string
          example: "Groceries card"
        second_line:
          type: string
          example: "Groceries card"
        status:
          type: string
          enum: [ACTIVE, DEACTIVATED, LOST, STOLEN, CANCELLED, EXPIRED, PIN_TRIES_EXCEEDED]
          example: "ACTIVE"
        sub_status:
          type: string
          example: "NONE"
        order_status:
          type: string
          example: "DELIVERED_TO_CUSTOMER"
        expected_delivery_date:
          type: string
          format: date
          example: "2026-07-03"
        expiry_date:
          type: string
          format: date
          example: "2027-06-13"
        name_on_card:
          type: string
          example: "L. Skywalker"
        user_id:
          type: integer
          description: DEPRECATED. ID of the user who owns the card.
          example: 42
        user_owner_id:
          type: integer
          example: 42
        user_holder_id:
          type: integer
          example: 42
        card_limit:
          type: object
          properties:
            currency:
              type: string
              example: "EUR"
            value:
              type: string
              example: "1000.00"
        card_limit_atm:
          type: object
          properties:
            currency:
              type: string
              example: "EUR"
            value:
              type: string
              example: "250.00"
        setting:
          type: object
          properties:
            currency_routing_type:
              type: string
              example: "MATCH_CURRENCY_AND_BALANCE"
            image_id:
              type: integer
              nullable: true
              example: null
            service_id:
              type: integer
              nullable: true
              example: null
            color:
              type: string
              example: "NONE"
            icon:
              type: string
              example: "NONE"
        pin_code_assignment:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 42
              type:
                type: string
                example: "PRIMARY"
              monetary_account_id:
                type: integer
                example: 42
              status:
                type: string
                example: "ACTIVE"
              routing_type:
                type: string
                example: "AUTOMATIC"
        country:
          type: string
          example: "NL"
        country_permission:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
                example: "NL"
        primary_account_numbers:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 42
              uuid:
                type: string
                example: "a8130325-4d53-4579-bdd0-fbb33123272a"
              description:
                type: string
                example: "Credit Card"
              four_digit:
                type: string
                example: "5820"
              type:
                type: string
                example: "CARD_MASTERCARD_TRAVEL"
        payment_account_reference:
          type: string
          example: "5001D9CEBC832E9140EDABFA51FAB"
        monetary_account_id_fallback:
          type: integer
          nullable: true
          example: null
        monetary_account:
          type: object
          nullable: true
          description: Current monetary account (only for prepaid credit cards).
          example: null
        is_card_eligible_for_free_replacement:
          type: boolean
          example: true
        is_limited_edition:
          type: boolean
          example: false
        is_card_frozen_payment_tokenized_allowed:
          type: boolean
          example: false
        card_generated_cvc2:
          type: object
          nullable: true
          properties:
            CardGeneratedCvc2:
              type: object
              properties:
                id:
                  type: integer
                  example: 42
                created:
                  type: string
                  format: date-time
                  example: "2026-06-26 09:28:27.459709"
                updated:
                  type: string
                  format: date-time
                  example: "2026-06-26 09:28:27.459709"
                cvc2:
                  type: string
                  example: "538"
                status:
                  type: string
                  example: "AVAILABLE"
                expiry_time:
                  type: string
                  format: date-time
                  nullable: true
                  example: null
                type:
                  type: string
                  example: "STATIC"
    CardGeneratedCvc2:
      type: object
      properties:
        id:
          type: integer
          example: 42
        created:
          type: string
          format: date-time
          example: "2015-06-13 23:19:16.215235"
        updated:
          type: string
          format: date-time
          example: "2016-06-30 09:12:31.981573"
        type:
          type: string
          enum: [STATIC, GENERATED]
          example: "STATIC"
        cvc2:
          type: string
          example: "123"
        status:
          type: string
          enum: [AVAILABLE, USED, EXPIRED, BLOCKED]
          example: "AVAILABLE"
        expiry_time:
          type: string
          format: date-time
          nullable: true
          example: "2016-06-30 09:12:31.981573"
    CardPrimaryAccountNumber:
      type: object
      properties:
        primary_account_number:
          type: string
          description: The PAN of the card.
          example: "5412345678901234"
    MasterCardAction:
      type: object
      properties:
        id:
          type: integer
          example: 42
        created:
          type: string
          format: date-time
          example: "2015-06-13 23:19:16.215235"
        updated:
          type: string
          format: date-time
          example: "2015-06-30 09:12:31.981573"
        monetary_account_id:
          type: integer
          example: 42
        card_id:
          type: integer
          example: 15
        amount_local:
          type: object
          properties:
            value:
              type: string
              example: "-25.00"
            currency:
              type: string
              example: "EUR"
        amount_billing:
          type: object
          properties:
            value:
              type: string
              example: "-25.00"
            currency:
              type: string
              example: "EUR"
        amount_original_local:
          type: object
          properties:
            value:
              type: string
              example: "-25.00"
            currency:
              type: string
              example: "EUR"
        amount_original_billing:
          type: object
          properties:
            value:
              type: string
              example: "-25.00"
            currency:
              type: string
              example: "EUR"
        decision:
          type: string
          description: Why the transaction was denied, if it was denied, or just ALLOWED.
          example: "ALLOWED"
        payment_status:
          type: string
          example: "PAYMENT_SUCCESSFUL"
        decision_description:
          type: string
          description: Empty if allowed, otherwise a textual explanation of why it was denied.
          example: ""
        description:
          type: string
          example: "Groceries"
        authorisation_status:
          type: string
          example: "AUTHORISED"
        authorisation_type:
          type: string
          example: "PAYMENT"
        pan_entry_mode_user:
          type: string
          description: "Can be ATM, ICC, MAGNETIC_STRIPE or E_COMMERCE."
          example: "E_COMMERCE"
        settlement_status:
          type: string
          example: "CLEARED"
        clearing_status:
          type: string
          example: "FIRST_PRESENTMENT_COMPLETE"
        city:
          type: string
          example: "Amsterdam"
        alias:
          type: object
          description: The monetary account label of the account this action is created for.
          properties:
            iban:
              type: string
              example: "NL64BUNQ2106619111"
            display_name:
              type: string
              example: "L. Coquille"
        counterparty_alias:
          type: object
          description: The monetary account label of the counterparty.
          properties:
            display_name:
              type: string
              example: "Merchant Name"
        label_card:
          type: object
          properties:
            type:
              type: string
              example: "MASTERCARD"
            second_line:
              type: string
              example: "Groceries"
        merchant_id:
          type: string
          example: "687555537877464"
        merchant_category_code:
          type: string
          example: "5411"
        wallet_provider_id:
          type: string
          description: "420 = bunq Android app with Tap&Pay; 103 = Apple Pay."
          example: "103"
        applied_limit:
          type: string
          example: "CARD_LIMIT_PAYMENT"
        additional_authentication_status:
          type: string
          description: The status of the additional authentication (3DS) performed by the user.
          example: "APPROVED_BY_USER"
    MasterCardIdentityCheckChallengeRequest:
      type: object
      properties:
        amount:
          type: string
          description: The transaction amount.
          example: "25.00"
        expiry_time:
          type: string
          format: date-time
          description: When the identity check expires.
          example: "2024-12-10 14:35:00.123456"
        description:
          type: string
          description: The description of the purchase. NULL if no description is given.
          nullable: true
          example: "Groceries"
        status:
          type: string
          enum: [PENDING, ACCEPTED, REJECTED, EXPIRED]
          example: "PENDING"
        decision_description:
          type: string
          description: Textual explanation of the decision.
          example: ""
        decision_description_translated:
          type: string
          description: Textual explanation of the decision in the user's language.
          example: ""
        url_merchant_app:
          type: string
          description: The return url for the merchant app after the challenge is accepted or rejected.
          example: "https://merchant.example.com/return"
        counterparty_alias:
          type: object
          properties:
            display_name:
              type: string
              example: "Merchant Name"
        event_id:
          type: integer
          description: The ID of the latest event for the identity check.
          example: 42
        card_id:
          type: integer
          nullable: true
          description: The ID of the card used for the authentication request.
          example: 15
    MonetaryAccountBank:
      type: object
      properties:
        id:
          type: integer
          example: 42
        currency:
          type: string
          example: "EUR"
        description:
          type: string
          example: "My Savings Account"
        balance:
          type: object
          properties:
            value:
              type: string
              example: "1000.00"
            currency:
              type: string
              example: "EUR"
        status:
          type: string
          enum: [ACTIVE, BLOCKED, CANCELLED, PENDING_REOPEN, PENDING_ACCEPTANCE, PENDING_CLOSURE, FROZEN]
          example: "ACTIVE"
        sub_status:
          type: string
          enum: [NONE, REDEMPTION_VOLUNTARY, REDEMPTION_INVOLUNTARY, ONLY_ACCEPTING_INCOMING]
          example: "NONE"
    MonetaryAccountExternal:
      type: object
      properties:
        id:
          type: integer
          example: 42
        created:
          type: string
          format: date-time
          example: "2015-06-13 23:19:16.215235"
        updated:
          type: string
          format: date-time
          example: "2016-06-30 09:12:31.981573"
        avatar:
          type: object
          properties:
            uuid:
              type: string
              format: uuid
              example: "5a442bed-3d43-4a85-b532-dbb251052f4a"
            image:
              type: array
              items:
                type: object
                properties:
                  attachment_public_uuid:
                    type: string
                    format: uuid
                    example: "attachment-uuid-123"
                  content_type:
                    type: string
                    example: "image/png"
                  height:
                    type: integer
                    example: 192
                  width:
                    type: integer
                    example: 192
                  url:
                    type: string
                    format: uri
                    example: "https://public.bunq.com/avatar-image.png"
        currency:
          type: string
          example: "PLN"
        description:
          type: string
          example: "External Currency Account"
        service:
          type: string
          example: "CURRENCY_CLOUD"
        daily_limit:
          type: object
          properties:
            value:
              type: string
              example: "1000.00"
            currency:
              type: string
              example: "PLN"
        balance:
          type: object
          properties:
            value:
              type: string
              example: "1000.00"
            currency:
              type: string
              example: "PLN"
        status:
          type: string
          enum: [ACTIVE, BLOCKED, CANCELLED, PENDING_REOPEN]
          example: "ACTIVE"
        sub_status:
          type: string
          enum: [NONE, REDEMPTION_VOLUNTARY]
          example: "NONE"
        alias:
          type: array
          description: Account aliases (like IBAN)
          items:
            type: object
            properties:
              type:
                type: string
                enum: [IBAN, EMAIL, PHONE_NUMBER]
                example: "IBAN"
              value:
                type: string
                example: "GB93TCCL12345616668090"
              name:
                type: string
                example: "John Doe"
        display_name:
          type: string
          description: Legal name of user/company
          example: "bunq"
        public_uuid:
          type: string
          format: uuid
          description: Public UUID for the account
          example: "550e8400-e29b-41d4-a716-446655440000"
    MonetaryAccountBankDetails:
      type: object
      properties:
        id:
          type: integer
          example: 42
        created:
          type: string
          format: date-time
          example: '2015-06-13 23:19:16.215235'
        updated:
          type: string
          format: date-time
          example: '2016-06-30 09:12:31.981573'
        alias:
          type: array
          description: Account aliases (IBAN, email, phone).
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - IBAN
                - EMAIL
                - PHONE_NUMBER
                example: IBAN
              value:
                type: string
                example: NL02BUNQ1234567890
              name:
                type: string
                example: John Doe
        avatar:
          type: object
          description: Account avatar.
        balance:
          type: object
          properties:
            value:
              type: string
              example: '1000.00'
            currency:
              type: string
              example: EUR
        balance_converted:
          allOf:
          - $ref: '#/components/schemas/MonetaryAccountBankDetails/properties/balance'
          description: Balance converted to the user's home currency.
          type:
          - 'null'
        country:
          type: string
          description: ISO-3166 country code.
          example: NL
        currency:
          type: string
          description: ISO 4217 currency code.
          example: EUR
        display_name:
          type: string
          description: Legal name of the account holder.
          example: John Doe
        daily_limit:
          type: object
          properties:
            value:
              type: string
              example: '1000.00'
            currency:
              type: string
              example: EUR
        transaction_limit:
          type:
          - object
          - 'null'
          properties:
            value:
              type: string
              example: '1000.00'
            currency:
              type: string
              example: EUR
          description: Per-transaction limit, or null if not set.
        overdraft_limit:
          type: object
          properties:
            value:
              type: string
              example: '1000.00'
            currency:
              type: string
              example: EUR
        description:
          type: string
          example: My Savings Account
        public_uuid:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          enum:
          - ACTIVE
          - BLOCKED
          - CANCELLED
          - PENDING_REOPEN
          - PENDING_ACCEPTANCE
          - PENDING_CLOSURE
          - FROZEN
          example: ACTIVE
        sub_status:
          type: string
          enum:
          - NONE
          - REDEMPTION_VOLUNTARY
          - REDEMPTION_INVOLUNTARY
          - ONLY_ACCEPTING_INCOMING
          example: NONE
        timezone:
          type: string
          example: Europe/Amsterdam
        user_id:
          type: integer
          example: 12345
        monetary_account_profile:
          type: object
        setting:
          type: object
          description: Monetary account settings.
        connected_cards:
          type: array
          items:
            type: object
        budget:
          type:
          - object
          - 'null'
        credit_line:
          type:
          - object
          - 'null'
        all_access:
          type: array
          items:
            type: object
        share:
          type:
          - object
          - 'null'
          description: Share details if this account is shared.
        all_auto_save_id:
          type: array
          items:
            type: object
          description: Auto-save configurations linked to this account.
        fulfillments:
          type: array
          items:
            type: object
        relation_user:
          type:
          - object
          - 'null'
          description: Relation user linked to this account, or null.
        reason:
          type:
          - string
          - 'null'
          description: Closure reason. Only present when status is CANCELLED.
          enum:
          - OTHER
        reason_description:
          type:
          - string
          - 'null'
          description: Human-readable closure reason description.
  parameters:
    CacheControl:
      name: Cache-Control
      in: header
      required: false
      schema:
        type: string
        default: no-cache
    UserAgent:
      name: User-Agent
      in: header
      required: false
      schema:
        type: string
        example: bunq-partner-client/1.0
    BunqLanguage:
      name: X-Bunq-Language
      in: header
      required: false
      schema:
        type: string
        default: en_US
    BunqRegion:
      name: X-Bunq-Region
      in: header
      required: false
      schema:
        type: string
        default: NL
    BunqGeolocation:
      name: X-Bunq-Geolocation
      in: header
      required: false
      schema:
        type: string
        example: 0 0 0 0 NL
    BunqClientRequestId:
      name: X-Bunq-Client-Request-Id
      in: header
      required: false
      schema:
        type: string
        example: unique-request-id-123
    BunqClientAuthentication:
      name: X-Bunq-Client-Authentication
      in: header
      required: true
      schema:
        type: string
        description: Session token from POST /session-server
    BunqClientSignature:
      name: X-Bunq-Client-Signature
      in: header
      required: true
      schema:
        type: string
        description: HMAC-SHA256 signature of request
    BunqClientEncryptionIv:
      name: X-Bunq-Client-Encryption-Iv
      in: header
      required: true
      description: |
        Encryption header (required on encrypted endpoints). Base64-encoded 16-byte AES initialization vector.
      schema:
        type: string
        example: "Y3Fjy0aYmFzZTY0aXY="
    BunqClientEncryptionKey:
      name: X-Bunq-Client-Encryption-Key
      in: header
      required: true
      description: |
        Encryption header (required on encrypted endpoints). Base64-encoded, RSA-encrypted AES key.
      schema:
        type: string
        example: "cmFuZG9tYWVza2V5YmFzZTY0..."
    BunqClientEncryptionHmac:
      name: X-Bunq-Client-Encryption-Hmac
      in: header
      required: true
      description: |
        Encryption header (required on encrypted endpoints). Base64-encoded HMAC-SHA1 of the IV concatenated with the ciphertext.
      schema:
        type: string
        example: "aG1hY3NoYTFiYXNlNjQ="
paths:
  /installation:
    post:
      tags:
      - Authentication
      summary: Create Installation
      description: |
        Create a new installation by providing your public key. This is the only endpoint that doesn't require authentication headers.

        The server creates an installation and returns:
        - Installation ID
        - Installation token (for device/session creation)
        - Server public key (for verifying response signatures)
      security: []
      parameters:
      - &id001
        $ref: '#/components/parameters/CacheControl'
      - &id002
        $ref: '#/components/parameters/UserAgent'
      - &id003
        $ref: '#/components/parameters/BunqLanguage'
      - &id004
        $ref: '#/components/parameters/BunqRegion'
      - &id005
        $ref: '#/components/parameters/BunqGeolocation'
      - &id006
        $ref: '#/components/parameters/BunqClientRequestId'
      - &id007
        $ref: '#/components/parameters/BunqClientAuthentication'
      - &id008
        $ref: '#/components/parameters/BunqClientSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - client_public_key
              properties:
                client_public_key:
                  type: string
                  description: Your RSA public key in PEM format
                  example: |
                    -----BEGIN PUBLIC KEY-----
                    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8NzhlzuWGBtrYEvBPwr4
                    XOEK6mMppNM870coBufxUc0zHsmY3qoQD7PkUZMFBZ5Gv/DQMKc1Xj94Fbw3Glqe
                    VvGb6EwWH+6Q/xDSDPU4V+TF+uRG1xab0teIqwRStsenhw3TYXSrUxbhx18E6kTl
                    JHnN1omBvIWXiRjgOGtwmGsNT+q/ey0LlU/doc+Gz96T7VjfyCtuB36GpbY92du5
                    9Bt8AjdjriM+brZA2acSnl7eBBmA8hgSJ+wHwHpgGTNdWGigYfzG+zlJmKa+gRrQ
                    ytSOYVLWeqPTqRCc3zfvw2j7ygZa4dnlsQddsoqIUyBZtYgRKaZQwytS+Q18EY1A
                    6wIDAQAB
                    -----END PUBLIC KEY-----
      responses:
        '200':
          description: Installation created successfully
          headers:
            X-Bunq-Server-Signature:
              description: Server signature to verify response authenticity
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          $ref: '#/components/schemas/Id'
                        Token:
                          $ref: '#/components/schemas/InstallationToken'
                        ServerPublicKey:
                          $ref: '#/components/schemas/InstallationServerPublicKey'
        '400':
          description: Bad request - invalid public key format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Authentication
      summary: Get Installation Details
      description: Check if provided ID is your current installation ID
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: Installation details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'

  /device-server:
    post:
      tags:
      - Authentication
      summary: Create Device Server
      description: |
        Register a new device server using your installation token.
        The API key will be bound to the specified IP addresses.

        **Wildcard API Keys**: Allow API calls even after IP address changes.
        Learn more: https://bunq.com/en/apikey-dynamic-ip
      security:
      - InstallationAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - description
              - secret
              properties:
                description:
                  type: string
                  description: Device description for your reference
                  example: "Partner Server v1.0"
                secret:
                  type: string
                  description: Your API key from bunq app
                  example: "e359370ebb0cf7e6923014aa8bee1f7df67245e3bfcb557faea0fee6e27192e1"
                permitted_ips:
                  type: array
                  description: IP addresses allowed to use this device (optional)
                  items:
                    type: string
                  example: ["127.0.0.1", "10.0.0.1"]
      responses:
        '200':
          description: Device server created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'
        '400':
          description: Bad request - invalid API key or IP addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Authentication
      summary: List Device Servers
      description: Get all your registered device servers
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: List of device servers
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        DeviceServer:
                          $ref: '#/components/schemas/DeviceServer'
  /session-server:
    post:
      tags:
      - Authentication
      summary: Create Session
      description: |
        Create a new session for API access. Requires installation token and device server.
        Session expires based on your auto-logout setting (default: 1 week).

        **Note**: IP address must match the one bound to your API key.
      security:
      - InstallationAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - secret
              properties:
                secret:
                  type: string
                  description: Your API key
                  example: "e359370ebb0cf7e6923014aa8bee1f7df67245e3bfcb557faea0fee6e27192e1"
      responses:
        '200':
          description: Session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          $ref: '#/components/schemas/Id'
                        Token:
                          $ref: '#/components/schemas/SessionToken'
                        UserCompany:
                          type: object
                          description: Company user details (if applicable)
                        UserPerson:
                          type: object
                          description: Person user details (if applicable)
                        UserApiKey:
                          type: object
                          description: API key user details
        '400':
          description: Bad request - invalid API key or IP mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oauth-client:
    post:
      tags:
      - OAuth Management
      summary: Create OAuth Client
      description: Create a new OAuth client for third-party integrations
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ACTIVE, CANCELLED]
                  example: "ACTIVE"
                  description: |
                    OAuth client status:
                    - `ACTIVE`: Client is active and can be used
                    - `CANCELLED`: Client is disabled and cannot be used
      responses:
        '200':
          description: OAuth client created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'
    get:
      tags:
      - OAuth Management
      summary: List OAuth Clients
      description: Get all your OAuth clients
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: List of OAuth clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        OauthClient:
                          $ref: '#/components/schemas/OauthClient'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /oauth-client/{oauthClientId}:
    get:
      tags:
      - OAuth Management
      summary: Get OAuth Client Details
      description: Get details of a specific OAuth client
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: oauthClientId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: OAuth client details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        OauthClient:
                          $ref: '#/components/schemas/OauthClient'
    put:
      tags:
      - OAuth Management
      summary: Update OAuth Client
      description: Update OAuth client status
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: oauthClientId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ACTIVE, CANCELLED]
                  example: "CANCELLED"
                  description: |
                    OAuth client status:
                    - `ACTIVE`: Activate the OAuth client
                    - `CANCELLED`: Cancel the OAuth client
      responses:
        '200':
          description: OAuth client updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'

  /partner-user-provision:
    post:
      tags:
      - Partner Services
      summary: Create Partner User Provision
      description: |
        Create a new partner account provision with requested products.

        **Available Products:**
        - `USER_ANONYMOUS_TRANSACTION_AUDIT`: Basic transaction auditing
        - `USER_VERIFIED`: Full verified user account
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - external_uuid
              - pointer
              - products
              properties:
                external_uuid:
                  type: string
                  format: uuid
                  description: Unique UUID from partner system
                  example: "550e8400-e29b-41d4-a716-446655440000"
                pointer:
                  $ref: '#/components/schemas/Pointer'
                products:
                  type: array
                  description: Products to provision
                  items:
                    type: string
                    enum: [USER_ANONYMOUS_TRANSACTION_AUDIT, USER_VERIFIED]
                  example: ["USER_VERIFIED"]
                date_of_birth:
                  type: string
                  format: date
                  description: Required for USER_ANONYMOUS_TRANSACTION_AUDIT
                  example: "1990-01-15"
                country_of_residence:
                  type: string
                  description: ISO-3166 country code
                  example: "NL"
      responses:
        '200':
          description: Partner user provision created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Partner Services
      summary: List Partner User Provisions
      description: List all partner user provisions with optional filtering
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: status
        in: query
        description: Filter by status (comma-separated)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: external_uuid
        in: query
        description: Filter by external UUID
        schema:
          type: string
          format: uuid
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: List of partner user provisions
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        PartnerUserProvision:
                          $ref: '#/components/schemas/PartnerUserProvision'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /partner-user-provision/{provisionId}:
    get:
      tags:
      - Partner Services
      summary: Get Partner User Provision
      description: Get details of a specific partner user provision
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: provisionId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: Partner user provision details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        PartnerUserProvision:
                          $ref: '#/components/schemas/PartnerUserProvision'
    put:
      tags:
      - Partner Services
      summary: Update Partner User Provision
      description: Update partner user provision status
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: provisionId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [PENDING_PROCESS_CLOSURE]
                  example: "PENDING_PROCESS_CLOSURE"
                  description: "Set provision status to pending closure"
      responses:
        '200':
          description: Partner user provision updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'

  /user/{userId}/user-onboarding:
    post:
      tags:
      - User Management
      summary: Create User Onboarding
      description: Create a new user onboarding process
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              properties:
                type:
                  type: string
                  description: Type of user onboarding
                  example: "PERSON"
                user_status_desired:
                  type: string
                  enum: [ACTIVE]
                  example: "ACTIVE"
                  description: "Desired user status - currently only ACTIVE is supported"
                user_verification_status_desired:
                  type: string
                  enum: [VERIFIED]
                  example: "VERIFIED"
                  description: "Desired verification status - currently only VERIFIED is supported"
      responses:
        '200':
          description: User onboarding created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'
    get:
      tags:
      - User Management
      summary: List User Onboardings
      description: List all user onboarding processes for the user
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: List of user onboardings
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        UserOnboarding:
                          $ref: '#/components/schemas/UserOnboarding'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /user/{userId}/user-onboarding/{onboardingId}:
    get:
      tags:
      - User Management
      summary: Get User Onboarding Details
      description: Get details of a specific user onboarding process
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: onboardingId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: User onboarding details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        UserOnboarding:
                          $ref: '#/components/schemas/UserOnboarding'
    put:
      tags:
      - User Management
      summary: Update User Onboarding
      description: Update user onboarding status
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: onboardingId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: "PERSON"
                user_status_desired:
                  type: string
                  enum: [ACTIVE]
                  example: "ACTIVE"
                user_verification_status_desired:
                  type: string
                  enum: [VERIFIED]
                  example: "VERIFIED"
      responses:
        '200':
          description: User onboarding updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Id'

  /user/{userId}/attachment:
    post:
      tags:
      - User Management
      summary: Upload attachment
      description: |
        Upload a file attachment for the provisioned user. The resulting attachment ID can then be
        passed to `PUT /user/{userId}/user-information-inquiry/{inquiryId}/partner-user-information-inquiry-entry/{entryId}`
        via `all_attachment_id` to submit documents for an inquiry entry.

        The request body is the **raw binary content** of the file. The content type and an
        optional description are passed as headers, not in the body.

        **Supported content types:** `image/png`, `image/jpeg`, `image/gif`, `application/pdf`
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
        description: ID of the provisioned user.
      - name: X-Bunq-Attachment-Description
        in: header
        required: false
        schema:
          type: string
        description: Human-readable description of the attachment.
        example: "Passport scan"
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum: [image/png, image/jpeg, image/gif, application/pdf]
        description: MIME type of the uploaded file.
        example: "image/jpeg"
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Attachment uploaded successfully. Returns the ID to use in inquiry entry submissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          $ref: '#/components/schemas/Id'
              example:
                Response:
                - Id:
                    id: 1001
        '400':
          description: Bad request — unsupported content type or missing body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/{userId}/attachment/{attachmentId}:
    get:
      tags:
      - User Management
      summary: Read attachment
      description: |
        Retrieve metadata for a previously uploaded attachment.
        Returns the attachment description, content type, and URLs to download the file.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
        description: ID of the provisioned user.
      - name: attachmentId
        in: path
        required: true
        schema:
          type: integer
        description: ID of the attachment to read.
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: Attachment metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        AttachmentUser:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1001
                            created:
                              type: string
                              format: date-time
                              example: "2026-06-01 10:00:00.000000"
                            updated:
                              type: string
                              format: date-time
                              example: "2026-06-01 10:00:00.000000"
                            attachment:
                              type: object
                              properties:
                                description:
                                  type: string
                                  example: "Passport scan"
                                content_type:
                                  type: string
                                  example: "image/jpeg"
                                urls:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: "IMAGE"
                                      url:
                                        type: string
                                        format: uri
                                        example: "https://cdn.bunq.com/attachment/..."

  /user/{userId}/card-credit:
    post:
      tags:
      - Card Management
      summary: Create Credit Card
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the request body and response are end-to-end encrypted. See the Encryption section.

        Order a new credit card that can be connected to monetary accounts.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - second_line
              - type
              - product_type
              properties:
                first_line:
                  type: string
                  description: First line of text on card (max 17 characters)
                  example: "Groceries"
                second_line:
                  type: string
                  description: Second line of text on card (max 17 characters)
                  example: "Business"
                name_on_card:
                  type: string
                  description: User's name as it will appear on the card
                  example: "L. Skywalker"
                preferred_name_on_card:
                  type: string
                  description: User's preferred name for the card
                  example: "Alice"
                type:
                  type: string
                  enum: [MASTERCARD]
                  example: "MASTERCARD"
                  description: "Card network type - currently only MASTERCARD is supported"
                product_type:
                  type: string
                  enum: [MASTERCARD_CREDIT_CO_BRANDED, MASTERCARD_BUSINESS_CO_BRANDED]
                  description: The product type of the card to order.
                  example: "MASTERCARD_CREDIT_CO_BRANDED"
                product_sub_type:
                  type: string
                  enum: ["PARTNER_UNIQUE_ENUM"]
                  description: Indicates the sub_type of the product. Responsible for the card design (physical or in 
                    the Wallet)
                  example: "PARTNER_UNIQUE_ENUM"
                country:
                  type: string
                  description: Country domestic to the card (ISO-3166). Defaults to country of residence of user.
                  example: "NL"
                order_status:
                  type: string
                  enum: [NEW_CARD_REQUEST_RECEIVED, VIRTUAL_DELIVERY]
                  example: "NEW_CARD_REQUEST_RECEIVED"
                  description: |
                    Card delivery status:
                    - `NEW_CARD_REQUEST_RECEIVED`: Physical card will be delivered by post
                    - `VIRTUAL_DELIVERY`: Virtual card for immediate online use
      responses:
        '200':
          description: Credit card created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardCredit:
                          $ref: '#/components/schemas/Card'

  /user/{userId}/card-debit:
    post:
      tags:
      - Card Management
      summary: Create Debit Card
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the request body and response are end-to-end encrypted. See the Encryption section.

        Order a new debit card that can be connected to monetary accounts.

        **Available Card Types:**
        - `MASTERCARD`: Mastercard debit card
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - second_line
              - type
              - product_type
              properties:
                second_line:
                  type: string
                  description: Second line of text on the card (max 17 characters)
                  example: "Groceries"
                name_on_card:
                  type: string
                  description: User's name as it will appear on the card
                  example: "L. Skywalker"
                preferred_name_on_card:
                  type: string
                  description: User's preferred name for the card
                  example: "Alice"
                type:
                  type: string
                  enum: [MASTERCARD]
                  example: "MASTERCARD"
                  description: |
                    Card network type:
                    - `MASTERCARD`: Mastercard debit card
                product_type:
                  type: string
                  description: The product type of the debit card to order
                  example: "MASTERCARD"
                product_sub_type:
                  type: string
                  enum: ["PARTNER_UNIQUE_ENUM"]
                  description: Indicates the sub_type of the product. Responsible the card design (physical or in the 
                    Wallet)
                  example: "PARTNER_UNIQUE_ENUM"
                pin_code_assignment:
                  type: array
                  description: Array of PIN assignments for the card
                  items:
                    type: object
                monetary_account_id_fallback:
                  type: integer
                  description: ID of fallback account if insufficient balance
                  example: 42
                country:
                  type: string
                  description: Country domestic to the card (ISO-3166)
                  example: "NL"
                order_status:
                  type: string
                  enum: [NEW_CARD_REQUEST_RECEIVED, VIRTUAL_DELIVERY]
                  example: "NEW_CARD_REQUEST_RECEIVED"
                  description: |
                    Card delivery status:
                    - `NEW_CARD_REQUEST_RECEIVED`: Physical card will be delivered by post
                    - `VIRTUAL_DELIVERY`: Virtual card for immediate online use
                customization_type:
                  type: string
                  enum: [ONLY_ICON, FREE_HAND]
                  example: "ONLY_ICON"
                  description: |
                    Card design customization:
                    - `ONLY_ICON`: Only icon customization allowed
                    - `FREE_HAND`: Free-hand design customization allowed
      responses:
        '200':
          description: Debit card created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardDebit:
                          $ref: '#/components/schemas/Card'

  /user/{userId}/card:
    get:
      tags:
      - Card Management
      summary: List Cards
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the response is end-to-end encrypted. See the Encryption section.

        Get all cards (credit and debit) available to the user.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      responses:
        '200':
          description: List of all user cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          CardCredit:
                            $ref: '#/components/schemas/Card'
                      - type: object
                        properties:
                          CardDebit:
                            $ref: '#/components/schemas/Card'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /user/{userId}/card/{cardId}:
    get:
      tags:
      - Card Management
      summary: Get Card Details
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the response is end-to-end encrypted. See the Encryption section.

        Get details of a specific card.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      responses:
        '200':
          description: Card details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          CardCredit:
                            $ref: '#/components/schemas/Card'
                      - type: object
                        properties:
                          CardDebit:
                            $ref: '#/components/schemas/Card'
    put:
      tags:
      - Card Management
      summary: Update Card
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the request body and response are end-to-end encrypted. See the Encryption section.

        Update card details including PIN code, status, limits, and settings.
        Can be used to activate cards when they are received.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pin_code:
                  type: string
                  description: The plaintext PIN code (requires encryption)
                  example: "0461"
                status:
                  type: string
                  enum: [ACTIVE, DEACTIVATED, LOST, STOLEN, CANCELLED]
                  example: "ACTIVE"
                  description: |
                    Card status to set:
                    - `ACTIVE`: Activate the card
                    - `DEACTIVATED`: Temporarily deactivate the card
                    - `LOST`: Report card as lost (permanent)
                    - `STOLEN`: Report card as stolen (permanent)
                    - `CANCELLED`: Cancel the card (permanent)
                card_limit:
                  type: object
                  description: Daily spending limit for the card
                  properties:
                    value:
                      type: string
                      example: "1000.00"
                    currency:
                      type: string
                      example: "EUR"
                card_limit_atm:
                  type: object
                  description: Daily ATM withdrawal limit
                  properties:
                    value:
                      type: string
                      example: "500.00"
                    currency:
                      type: string
                      example: "EUR"
                monetary_account_id_fallback:
                  type: integer
                  description: ID of fallback account for insufficient balance
                  example: 42
                cancellation_reason:
                  type: string
                  enum: [FRAUD, LOST, STOLEN, OTHER]
                  example: "LOST"
                  description: |
                    Reason for cancelling card:
                    - `FRAUD`: Fraudulent activity detected
                    - `LOST`: Card has been lost
                    - `STOLEN`: Card has been stolen
                    - `OTHER`: Other reason
      responses:
        '200':
          description: Card updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          CardCredit:
                            $ref: '#/components/schemas/Card'
                      - type: object
                        properties:
                          CardDebit:
                            $ref: '#/components/schemas/Card'

  /user/{userId}/card/{cardId}/primary-account-number:
    post:
      tags:
      - Card Management
      summary: Create Primary Account Number
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the response is end-to-end encrypted. See the Encryption section.

        Generate the primary account number (PAN) for a card.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      responses:
        '200':
          description: Primary account number created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardPrimaryAccountNumber:
                          $ref: '#/components/schemas/CardPrimaryAccountNumber'

  /user/{userId}/card/{cardId}/generated-cvc2:
    post:
      tags:
      - Card Management
      summary: Create Generated CVC2
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the request body and response are end-to-end encrypted. See the Encryption section.

        Generate a new CVC2 code for a card.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [STATIC, GENERATED]
                  example: "STATIC"
                  description: The type of generated CVC2.
      responses:
        '200':
          description: Generated CVC2 created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardGeneratedCvc2:
                          $ref: '#/components/schemas/CardGeneratedCvc2'
    get:
      tags:
      - Card Management
      summary: List Generated CVC2
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the response is end-to-end encrypted. See the Encryption section.

        Get all generated CVC2 codes for a card.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      responses:
        '200':
          description: List of generated CVC2 codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardGeneratedCvc2:
                          $ref: '#/components/schemas/CardGeneratedCvc2'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /user/{userId}/card/{cardId}/generated-cvc2/{generatedCvc2Id}:
    get:
      tags:
      - Card Management
      summary: Get Generated CVC2 Details
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the response is end-to-end encrypted. See the Encryption section.

        Get the details for a specific generated CVC2 code.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - name: generatedCvc2Id
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      responses:
        '200':
          description: Generated CVC2 details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardGeneratedCvc2:
                          $ref: '#/components/schemas/CardGeneratedCvc2'
    put:
      tags:
      - Card Management
      summary: Update Generated CVC2
      x-bunq-encryption-required: true
      description: |
        🔒 **Encrypted endpoint** — the request body and response are end-to-end encrypted. See the Encryption section.

        Update a generated CVC2 code for a card.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
      - name: generatedCvc2Id
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - $ref: '#/components/parameters/BunqClientEncryptionIv'
      - $ref: '#/components/parameters/BunqClientEncryptionKey'
      - $ref: '#/components/parameters/BunqClientEncryptionHmac'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [STATIC, GENERATED]
                  example: "STATIC"
                  description: The type of generated CVC2.
      responses:
        '200':
          description: Generated CVC2 updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        CardGeneratedCvc2:
                          $ref: '#/components/schemas/CardGeneratedCvc2'

  /user/{userId}/monetary-account/{accountId}/mastercard-action:
    get:
      tags:
      - Card Management
      summary: List Mastercard Actions
      description: |
        List the card transactions (Mastercard actions) for a monetary account.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: List of card transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        MasterCardAction:
                          $ref: '#/components/schemas/MasterCardAction'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /user/{userId}/monetary-account/{accountId}/mastercard-action/{mastercardActionId}:
    get:
      tags:
      - Card Management
      summary: Get Mastercard Action Details
      description: Get the details of a specific card transaction.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
      - name: mastercardActionId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: Card transaction details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        MasterCardAction:
                          $ref: '#/components/schemas/MasterCardAction'

  /user/{userId}/challenge-request:
    get:
      tags:
      - Card Management
      summary: List Challenge Requests
      description: |
        List the Mastercard Identity Check (3DS) challenge requests for a user.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: status
        in: query
        required: false
        description: The status of the challenge, comma separated for multiple values.
        schema:
          type: string
          example: "CREATED,ACCEPTED"
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: List of challenge requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        MasterCardIdentityCheckChallengeRequest:
                          $ref: '#/components/schemas/MasterCardIdentityCheckChallengeRequest'
                  Pagination:
                    $ref: '#/components/schemas/Pagination'

  /user/{userId}/challenge-request/{challengeRequestId}:
    get:
      tags:
      - Card Management
      summary: Get Challenge Request Details
      description: Get the details of a specific Mastercard Identity Check challenge request.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: challengeRequestId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      responses:
        '200':
          description: Challenge request details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        MasterCardIdentityCheckChallengeRequest:
                          $ref: '#/components/schemas/MasterCardIdentityCheckChallengeRequest'
    put:
      tags:
      - Card Management
      summary: Update Challenge Request
      description: |
        Accept or reject a Mastercard Identity Check (3DS) challenge request.
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: challengeRequestId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum: [ACCEPTED_PENDING_RESPONSE, REJECTED_PENDING_RESPONSE]
                  example: "ACCEPTED_PENDING_RESPONSE"
                  description: The status of the identity check.
      responses:
        '200':
          description: Challenge request updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          $ref: '#/components/schemas/Id'

  /user/{userId}/monetary-account/{accountId}/payment:
    post:
      tags:
      - Payment Management
      summary: Create Payment
      description: |
        Create a new payment from a monetary account to another IBAN.

        **IBAN Payment Features:**
        - For Users belonging to Partners, only internal transfers are allowed between User <> Partner Monetary Accounts
        - For Partners with PSD2 access, external transfers to any IBAN are allowed
        - Description limited to 140 characters
        - Optional merchant reference for tracking
      security:
      - SessionAuth: []
      - ClientSignature: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - counterparty_alias
              - description
              properties:
                amount:
                  type: object
                  description: Amount to transfer (must be positive and less than account balance)
                  required:
                  - value
                  - currency
                  properties:
                    value:
                      type: string
                      example: "25.00"
[...]
